name: CI
on:
  - push
  - pull_request
jobs:
  test-node:
    name: Node.js
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: npm install
      - run: npm test
  test-atom:
    name: ${{ matrix.channel }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        channel:
          - stable
          - beta
    steps:
      - uses: actions/checkout@v2
      - uses: UziTech/action-setup-atom@v2
        with:
          version: ${{ matrix.channel }}
      - if: ${{ matrix.os == 'windows-latest' }}
        uses: microsoft/setup-msbuild@v1.0.2
        with:
          vs-version: '[14.0,)'
      - name: Install dependencies
        run: apm install
      - name: Run tests
        run: atom --test spec
